@font-face {
  font-family: 'open-sauce-sans';
  src: url('fonts/open-sauce-sans.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { /* Colores de la pagina */
  --primary-color: #49352d;
  --secondary-color: #6b4e42;
  --terciary-color: #9e7361;
  --featured: #a8b8a5;
  --bg-color: #f6f1eb;
}

html, body{
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
    font-family: 'open-sauce-sans', sans-serif;
    overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Estilos para el encabezado */

.header {
  background-color: var(--primary-color);
  padding: 15px 25px;
  color: white;
  width: 100%;
}

.nav-bar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    height: 150px;
    width: 150px;
}

.header-contenido {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.lista {
  list-style: none;
  display: flex;
  flex-direction: space-between;
  font-size: 2rem;
  gap: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.title{
    font-size: 3.5rem;
}

.subtitle{
    font-size: 2rem;
}

.nav{
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}

.active-page {
    text-decoration: underline;
    font-weight: bold;
}

.auth-buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.button-login {
    display: flex;
    background-color: var(--secondary-color);
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 2rem;
}

.button-register {
    display: flex;
    background-color: var(--featured);
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 2rem;
}

/* Seccion de "¿Quienes somos?" */

/* ------------------------------------------------------------------------- */

/* Media Queries */

/* Pantallas menores o iguales a 992px */
@media (max-width: 992px) {
    .header {
        padding: 15px 15px;
    }

    .nav {
        flex-wrap: wrap;
    }
}

/* Pantallas menores o iguales a 768px */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        text-align: center;
    }

    .header-contenido {
        align-items: center;
    }

    .nav {
        flex-direction: column;
        gap: 15px;
    }

    .lista {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .auth-buttons {
        margin-left: 0;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
}

/* Pantallas menores o iguales a 480px */
@media (max-width: 480px) {
    .auth-buttons {
        flex-direction: column;
        width: 100%;
    }

    .button-login, .button-register {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}